

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('/fonts/BebasNeueRegular.woff2') format('woff2'),
        url('/fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: solid 4px rgba(53, 150, 245, 1);
    ;
}
.navbar {
   
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
}
.navbar__nav {
}
.navbar__menu {
    /* margin: 0; */
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;

}
.navbar__item {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar__link {
    color: #fff;
}
.navbar__contactc {
    text-align: right;

}
.navbar__text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-weight: 400;
font-size: 14px;
line-height: 16px;
}
.navbar__phone {
    color:#fff;
    font-weight: 700;
font-size: 17px;
line-height: 20px;
}

.main{
    
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;

display: flex;

}
.home__img path{
    opacity: 0;
    cursor: pointer;
}
.home__img path:hover{
    opacity: 1;
}
.home__img {
}
.main__info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main__title {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase
color: #635854;
}

.caunter__groop{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.caunter__button {
cursor: pointer;
}
.caunter__up {
}
.caunter {
    font-family: 'Bebas Neue', sans-serif;
   color: rgba(99, 88, 84, 1);
   font-size: 124px;


}
.caunter__down {
}

.button { background-color: #3596F5;
border-radius: 6px;
}
.button__primary {
    padding: 16px 36px;
    cursor: pointer;
    color: #fff;
}